<%= form_for @sea do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :temperature %>
  <%= f.number_field :temperature %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :mood %>
  <%= f.text_field :mood %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color %>

  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature %>

  <%= f.label :has_mermaids %>
  <%= f.check_box :has_mermaids %>

  <%=  f.submit %>

  <% end %>

<!-- <div class="container">
    <form method="POST" action="/seas">
      <p>Name: <input class="form-control" type="text" name="name"></p>
      <p>Bio: <input class="form-control" type="text" name="bio"></p>
      <p>Image URL: <input class="form-control" type="text" name="image_url"></p>
      <p>Temperature: <input class="form-control" type="text" name="temperature"></p>
      <p>Favorite Color: <input class="form-control" type="text" name="favorite_color"></p>
      <p>Scariest Creature: <input class="form-control" type="text" name="scariest_creature"></p>
      <p>Mood: <input class="form-control" type="text" name="mood"></p>
      <div class="checkbox">
        <label><input type="checkbox" name="has_mermaids">Has Mermaids</label>
      </div>
      <input class="form-control btn btn-info" type="submit">
    </form>
    <div class="text-center">
      <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>
  </div> -->
